// Styling for the download section
section.download {
    position: relative;
    padding: 250px 0;
    /*
    h2 {
        font-size: 50px;
        margin-top: 0;
    }

     */

    .bg-text {
        background-color: rgb(0,0,0); /* Fallback color */
        //background-color: rgba(0,0,0, 0.3); /* Black w/opacity/see-through */
        background-color: rgba(255,255,255, 0.3); /* Black w/opacity/see-through */
        color: black;
        font-weight: bold;
        //border: 3px solid #f1f1f1;
        border: 4px solid black;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        width: 80%;
        padding: 60px;
        text-align: center;
    }



    .badges {
        .badge-link {
            display: block;
            margin-bottom: 25px;
            &:last-child {
                margin-bottom: 0;
            }
            img {
                height: 60px;
            }
            @media(min-width: 768px) {
                display: inline-block;
                margin-bottom: 0;
            }
        }
    }
    @media(min-width: 768px) {
        h2 {
            font-size: 70px;
        }
    }
}
