// Styling for the footer
footer {
    padding: 25px 0;
    text-align: center;
    //color: fade-out(black, .7);
    color: black;
    background-color: navajowhite;
    p {
        font-size: 20px;
        margin: 0;
        color: black;
    }
    ul {
        margin-bottom: 0;
        li {
            a {
                font-size: 15px;
                color: black;
                //color: fade-out(black, .7);
                &:hover,
                &:focus,
                &:active,
                &.active {
                    text-decoration: none;
                }
            }
        }
    }
}
