// Styling for the masthead
header.impressum {
    color: navajowhite;
    background-color: tomato;

    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;

    //width: 100vw;
    //height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;


}